/* MAIN PAGE */
.article {
  color: var(--text);
}
.article .title,
.article .subtitle {
  text-decoration: none;
  position: relative;
  width: fit-content;
}
.article .title::after, .article .subtitle::after {
  position: absolute;
  content: "";
  width: 65%;
  height: 3px;
  top: 90%;
  left: 0;
  background: var(--text);
  transition: transform 200ms;
  transform: scaleX(0);
  transform-origin: right;
}
.article .subtitle::after {
  width: 50%;
  height: 2px;
  top: 100%;
  transition-delay: 100ms;
}
.article:hover .title::after,
.article:hover .subtitle::after {
  transform: scaleX(1);
  transform-origin: left;
}
