@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Roboto+Mono&display=swap");
/* BASE */
.theme-dark {
  --background: #2e3440;
  --text: #eceff4;
  --sub: #4c566a;
  --link: #88c0d0;
  --logo: #ebcb8b;
  --pride: -webkit-linear-gradient(left, rgba(191,97,106,1) 0%, rgba(191,97,106,1) 20%, rgba(208,135,112,1) 20%, rgba(208,135,112,1) 35%, rgba(235,203,139,1) 35%, rgba(235,203,139,1) 50%, rgba(163,190,140,1) 50%, rgba(163,190,140,1) 65%, rgba(136,192,208,1) 65%, rgba(136,192,208,1) 80%, rgba(180,142,173,1) 80%, rgba(180,142,173,1) 100%);
}
.theme-light {
  --background: #eceff4;
  --text: #2e3440;
  --sub: #4c566a;
  --link: #81a1c1;
  --logo: #d08770;
}
body,
html {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  margin: 0;
  color: var(--text);
  background: var(--background);
}
main {
  padding: 1.4em 2em 0 1.4em;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
}

@media screen and (max-width: 900px) {
  main {
    all: unset;
    padding: 1.4em 2em 0 1.4em;
  }
}

/* NAVBAR */
/* TODO: background blend in if smaller than 900 px */
.logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.4em;
  background: var(--background);
  z-index: 10;
}
.logo a {
  background: var(--pride);
  font-family: "DM Mono", monospace;
  font-size: 1.1em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo a::after {
  background: var(--pride);
}

/* HEADER */
.title {
  font-family: "DM Mono", monospace;
  font-size: 3em;
  margin: 0em 0;
}
.subtitle {
  font-family: "Roboto Mono", monospace;
  font-size: 1.25em;
  margin: 0.25em 0;
}
img {
  max-width: 100%;
}
time {
  color: var(--sub);
  margin: 0 0;
}
/* CONTENT */
section {
  font-family: "Roboto Mono", monospace;
}
.section-heading {
  font-family: "DM Mono", monospace;
  font-size: 2em;
  margin: 0.25em 0;
}
.section-heading a {
  color: var(--text);
}
.section-heading a::after {
  all: revert;
}
.section-heading::before {
  content: "#";
  color: var(--sub);
  margin-left: -35px;
  margin-right: 15px;
  opacity: 0;
  transition: opacity 200ms;
}
.section-heading:hover::before {
  opacity: 100;
}
/* make a # appear before the text. */
a {
  text-decoration: none;
  position: relative;
  color: var(--link);
}
a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: var(--link);
  transition: transform 200ms;
  transform: scaleX(0);
  transform-origin: right;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* FOOTER */
footer {
  text-align: center;
  font-size: 0.75em;
  margin: 5em 0 2em 0;
}

